<app-cabecero
    [presupuestoTotal]="getPresupuestoTotal()"
    [ingresoTotal]="getIngresoTotal()"
    [egresoTotal]="getEgresoTotal()"
    [porcentajeTotal]="getPorcentajeTotal()"
></app-cabecero>
<app-formulario></app-formulario>


<div class="contenedor limpiarEstilos">
    <app-ingreso></app-ingreso>
    <app-egreso
        [ingresoTotal]="getIngresoTotal()"
    ></app-egreso>
</div>