<form (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select
                [ngClass]="{redfocus: tipo === 'egrOpe'}"
                (change)="tipoOperacion($event)"
                class="agregar_tipo">
                <option value="ingOpe" selected>+</option>
                <option value="egrOpe">-</option>
            </select>
            <input
                [ngClass]="{redfocus: tipo === 'egrOpe'}"
                name="descripcionInput"
                type="text"
                class="agregar_descripcion"
                placeholder="Agregar Descripción"
                [(ngModel)]="descripcionInput"
                required
            >
            <input
                [ngClass]="{redfocus: tipo === 'egrOpe'}"
                name="valorInput"
                type="number"
                class="agregar_valor"
                placeholder="Valor"
                [(ngModel)]="valorInput"
                required    
            >
            <button
                type="submit"
                class="agregar_btn"
            >
                <i
                    class="ion-ios-checkmark-outline"
                    [ngClass]="{red: tipo === 'egrOpe'}"
                ></i>
            </button>
        </div>
    </div>
</form>